################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
FamilyTree/ClientApp/.vscode/launch.json
FamilyTree/ClientApp/package-lock.json
FamilyTree/ClientApp/package-lock.json
FamilyTree/ClientApp/db_copy.json
FamilyTree/ClientApp/db.json
FamilyTree/ClientApp/package-lock.json
FamilyTree/appsettings.Development.json

# Local Netlify folder
.netlify
FamilyTree/ClientApp/build