################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
FamilyTree/ClientApp/.vscode/launch.json
FamilyTree/ClientApp/package-lock.json
FamilyTree/ClientApp/package-lock.json
