html,
body,
#root,
.App {
  height: 100%;
}
body {
  background: linear-gradient(
      to bottom,
      #aed581,
      #aed581 85%,
      #689f38 15%,
      #689f38
    )
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.postFormTextEditor {
  height: 800px;
  border: 1px solid blue;
  padding: 5px;
}

.postFormTextEditorWrapper {
  width: 100%;
}
